<div class="header">

    <!-- IZQUIERDA: SALUDO -->
    <div class="header-left">
        <!-- El JS reemplaza este texto automáticamente -->
        <h2>¡Bienvenido!</h2>

        <p class="header-subtitle">
            Organiza tus tareas, prioriza tus objetivos y logra más.
        </p>
    </div>

    <!-- DERECHA: ÁREA DE USUARIO -->
    <div class="user-area">
        <img src="assets/img/icons/notificaciones.svg" class="icon">

        <!-- Nombre dinámico del usuario -->
        <span class="user-name"></span>

        <img src="assets/img/icons/usuario.svg" class="icon">
    </div>

</div>
